PORT=3001
MONGO_URL=mongodb+srv://<username>:<password>@<cluster-url>/drinkmaster?retryWrites=true&w=majority
JWT_SECRET=<your-jwt-secret>
CLOUDINARY_NAME=<your-cloudinary-cloud-name>
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_API_SECRET=<your-cloudinary-api-secret>
EMAIL_USER=<your-email>
EMAIL_PASS=<your-email-app-password>
